<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>猫と仲良くなろう</title>
    <script>
      // フォーム送信時に行動が選択されているかを確認
      function validateForm() {
        const radios = document.getElementsByName('cat');
        const isChecked = Array.from(radios).some(radio => radio.checked);
        
        if (!isChecked) {
          alert("行動を選んでください。");
          return false;
        }
        return true;
      }
    </script>
</head>
<body>
    <p>猫と出会った！</p>
    <p>何をする？</p>
    <form action="/cat" onsubmit="return validateForm()">
        <input type="radio" name="cat" id="cat1" value="1">
        <label for="cat1">撫でる</label><br>

        <input type="radio" name="cat" id="cat2" value="2">
        <label for="cat2">ご飯をあげる</label><br>

        <input type="radio" name="cat" id="cat3" value="3">
        <label for="cat3">猫じゃらしで遊ぶ</label><br>
        <input type="submit" value="送信">
    </form>

    <h2>猫の気分：<%= feel %></h2>
    <h2>あなたの行動は．．．<%= result %></h2>
    <h2><%= friend %></h2>
</body>
</html>
